@media only screen and (max-width: 600px ) {
 
/* 
    .d-md-block{
      display: none;
      visibility: hidden;
    } */

  }

  

   @media only screen and (min-width: 768px) {
   .display{
     display: none;
     visibility: hidden;
   }
   .d-md-sm{
     display: none;
     visibility: hidden;
   }
  } 