body{
    margin: 0px;
    padding: 0px;
}

 .push-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.p20{
    padding: 20px;
}

.font{
    font-size: 12px !important;
} 

.hel-img{
    background: linear-gradient(rgba(20, 160, 219, 0.6),rgba(20, 160, 219, 0.6)), url("../img/man.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
}

.hel-img h3{
    color: #fff;
    padding: 10px;
    padding-top: 90px !important;
    font-weight: 700;
}

.play-center{
    margin-left: 90px;
    margin-top: 40px;
}

.busi-font{
    font-size: 5px !important;
}

.form{
    padding-top: 40px;
}

.dropdown-content li>a, .dropdown-content li>span{
    color: red;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: gray;
    font-size: 12px;
}


.select-wrapper input.select-dropdown{
    font-size: 12px !important;
}


/* ====mobile view styling ==== */
.manage{
    line-height: 0.1rem;
}

.text-col{
    margin-top: 200px;
}

.google-play{
    margin-top: 80px;
}

.text-col h3{
    color: #14a0db;
}

.text-col p{
    font-size: 20px;
}
.para p{
    line-height: 0.1rem;
    
}



 .powered h6{
    padding-top: 40px;
    text-align: center;
    font-size: 11px;
}

.powered span{
    color: #14a0db;
}

/* label .terms{
    font-size: 10px;
} */