body{
}
 .push-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.p20{
    padding: 20px;
}

.img-side{
    width: 90%;
}
.logo{
    width:  10%;
    margin-top:10px;
}

.font{
    font-size: 12px !important;
} 

/* .image-helene{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/image-helene.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 90px;

} */

.hel-img{
    background: linear-gradient(rgba(20, 160, 219, 0.6),rgba(20, 160, 219, 0.6)), url("../img/man.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
}

.hel-img h3{
    color: #fff;
    padding: 10px;
    padding-top: 90px !important;
    font-weight: 700;
}

.play-center{
    margin-left: 90px;
    margin-top: 40px;
}

.busi-font{
    font-size: 5px !important;
}

.bg-blue{
    background: linear-gradient(to right bottom, rgba(20, 160, 219, 0.9) 50%,rgba(255, 255, 255, 0.9) 50%);
}

.text-col h3{
    color: #14a0db;
}

.text-col p{
    font-size: 20px;
    
    
}
.para p{
    line-height: 0.1rem;
}

.form{
    padding-top: 40px;
}

 .powered h6{
    padding-top: 40px;
    text-align: center;
    font-size: 15px;
}

.powered span{
    color: #14a0db;
}